.loginn{
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 9%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: lightsteelblue;
    border-radius: 4px; 
    border: 2px solid black;
}
button:hover{
    background-color: darkblue;
    color: white;
    border: 2px solid white;
}