.missing{
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name{
    width: 70%;
}
#mail{
    width: 70%;
}
#phno{
    width: 70%;
}
#password{
    width: 70%;
}
#cpwd{
    width: 70%;
}
#log{
    text-decoration: underline;
}
#strng{
    font-weight: normal;
}
button{
    background-color: lightsteelblue;
    border-radius: 4px;
    border: 2px solid black;
}
button:hover{
    background-color: darkblue;
    color: white;
    border: 2px solid white;
}